/*
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Dao The Anh
  ID: s3978728
  Acknowledgement: Images are from google searches. Insperation are from mangadex (https://mangadex.org/)
*/
html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://wallpapers.com/images/featured/grey-5xvepms9fbbi0bmh.jpg);
}
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-nav .logo {
    width: auto;
    height: 65px;
    z-index: 2;
  }
  .mobile-nav .header {
    width: 100%;
    height: 85px;
    z-index: 1;
  }
  .contact-form label {
    margin-bottom: 8px;
  }
  .contact-form select,
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 16px;
  }
  .contact-form .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-form button {
    width: 100%;
    margin-top: 10px;
  }
  .footer {
    font-size: 12px;
    bottom: auto;
    top: 0;
  }
  .footer a {
    font-size: medium;
    padding: 0 10px;
  }
  .footer table {
    bottom: -10px;
  }
  .media {
    flex-direction: column;
    align-items: center;
  }
  .media iframe {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
  }
  .book-details {
    padding: 0%;
  }
  .images {
    padding: 0;
  }
  .large-image,
  .small-image {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .large-image{
    width: 200px;
  }
}
.logo {
  border-radius: 20px;
  width: auto;
  height: 65px;
  position: absolute; top: 13px; right: 20px;
  cursor: pointer;
}
.header {
  width: 100%;
  height: 90px;
  position: absolute; top: 0%; left: 0%;
}
.navbar table {
  position: absolute; top: 20px; right: 200px;
  width: 80%;
  z-index: 2;
}
.navbar td {
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #007bff;
  cursor: pointer;
}
.Titles{
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  position: relative; top: 125px; 
  font-size: xx-large;
  max-width: 10%;
}
.Titles :hover{
  color: #007bff;
  cursor: pointer;
}
.container {
  border-radius: 20px;
  max-width: 65%;
  height: 370px;
  margin: 0 auto;
  border: solid;
  border-color: rgb(0, 0, 0);
  background-color: #4A4A4A;
  padding: 50px;
}
.catergory {
  padding: 0px;
  background-color: #f0f0f0;
}
.book-container {
  display: flex;
  overflow-y: hidden;
  padding: 60px;
}
.book {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 148px;
  height: 210px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.book img {
  width: 148px;
  height: 210px;
  display: block;
  margin: auto;
}
#menuToggle {
  display: block;
  position: relative;
  top: 33px;
  left: 50px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.media{
  display: flex;
  justify-content: center;
}
.media table{
  padding: 25px;
}
.media iframe{
  width: 500px;
  height: 300px;
  padding: 50px;
}
.footer {
  background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/536a8c7c-5620-431d-98d9-773024da374f-profile_banner-480.png);
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: -100%;
  top: 20px;
}

.footer a{
  color: #ededed;
  text-decoration: none;
  font-size: x-large;
  padding: 0 15px;
  transition: color 0.3s;
}

.footer table {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -30px;
}

.footer a:hover {
  color: #007bff;
  cursor: pointer;
}
.contact-container {
  position: relative; top: 50px;
  max-width: 100%;
  padding: 87px;
  background-color: rgb(255, 255, 255);
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form label {
  margin-bottom: 6px;
  font-weight: bold;
}
.contact-form select,
.contact-form input,
.contact-form textarea {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.contact-form .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.contact-form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.details-container {
  background-image: url(https://img.freepik.com/premium-photo/white-abstract-paint-background_108128-275.jpg?w=2000);
  width: 100%;
  height: auto;
  position: relative; top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.breadcrumb {
  font-size: 30px;
  padding: 50px;
  font-family: monospace;
}
.book-details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.images {
  display: flex;
  flex-direction: column;
}
.large-image {
  height: 333px;
}
.small-image {
  width: 100px;
  height: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.info h1 {
  font-size: 40px;
  padding: 40px;
}
.price {
  color: green;
  font-size: 40px;
  font-family: fantasy;
}
.cart {
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.wishlist{
  padding: 20px;
  background-color: rgb(3, 7, 228);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.description {
  margin-top: 20px;
  font-size: 20px;
}